<!DOCTYPE html>
<html lang="en">
<head>
	<title>media-call-metrics proof of concept project</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header><h1>media-call-metrics admin zone</h1></header>
  <aside><div id="error"></div></aside>
  <main>
    <h2>The admin zone!</h2>
      <button id="getRooms">
        Get rooms
      </button>
      <button id="getSessions">
        Get sessions
      </button>
      <section class="dataSection">
        <h3>List of rooms</h3>
        <ul id="roomsList"></ul>
        <h3>List of sessions</h3>
        <ul id="sessionsList"></ul>
      </section>
      <button id="button">Click to get a special session's data</button>
      <section class="sessions">
        <canvas id="videoRecvBitsPerSecond"></canvas>
        <canvas id="videoRecvPacketLoss"></canvas>
        <canvas id="videoSendBitsPerSecond"></canvas>
        <canvas id="videoSendPacketLoss"></canvas>
      </section>
  </main>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
<script type="text/javascript" src="admin.js" defer></script>
</html>