<!DOCTYPE html>
<html lang="en">
<head>
	<title>media-call-metrics proof of concept project</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header><h1>media-call-metrics</h1></header>
  <aside>
  	Administrator looking for data? <a href="/admin">"Log in" here</a>
  </aside>
  <main>
  	<div class="userView">
      <button id="makeRoom">Make a room</button>
      <span style="display:none;" id="newRoomWrapper">✨ Thank you! Visit room (and share the link): <a id="newRoom" target="_blank" href=""></a></span>
    </div>
    <hr/>
  </main>
  <script type="text/javascript">
  document.getElementById("makeRoom").onclick = function() {
    fetch("/make-room", {
      method: "POST",
      headers: { "Content-Type": "application/json" }
    })
    .then(res => res.json())
    .then(response => {
      document.getElementById('newRoomWrapper').style.display = "";
      document.getElementById("newRoom").setAttribute("href", ("/room/" + response.name));
      document.getElementById("newRoom").innerText = response.name;
    })
    .catch(err => console.error(err));
  };
  </script>
</body>
</html>