<!DOCTYPE html>
<html lang="en">
<head>
	<title>media-call-metrics proof of concept project</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width">
  <link href="style.css" rel="stylesheet" type="text/css">
  <script src="client.js" defer></script>
</head>
<body>
  <header><h1>media-call-metrics</h1></header>
  <aside><div id="error"></div></aside>
  <main>
  	<div>
      <button id="makeRoom">Make a room</button>
      <span style="display:none;" id="newRoomWrapper"><a id="newRoom" href="">Visit room</a></span>
    </div>
    <div>
      <button id="getRooms">
        Get rooms
      </button>
      <section class="dataSection">
        <h2>List of rooms</h2>
        <ul id="roomsList"></ul>
      </section>
    </div>
  </main>
</body>
</html>