<!DOCTYPE html>
<html lang="en">
<head>
	<title>media-call-metrics proof of concept project</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header><h1>media-call-metrics</h1></header>
  <aside>
  	<div id="error"></div>
  	Administrator? <a href="/administrator">"Log in" here</a>
  </aside>
  <main>
  	<h2>The user zone!</h2>
  	<div class="userView">
      <button id="makeRoom">Make a room</button>
      <span style="display:none;" id="newRoomWrapper"><a id="newRoom" href="">Visit room</a></span>
    </div>
    <hr/>
  </main>
</body>
<script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
<script src="client.js" defer></script>
</html>