<!DOCTYPE html>
<html lang="en">
<head>
	<title>media-call-metrics -- room</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header><h1>welcome to your video call</h1></header>
  <main>
    <hr/>
  </main>
  <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
  <script>
    callFrame = window.DailyIframe.createFrame({
      showLeaveButton: true,
      iframeStyle: {
        position: 'fixed',
        width: '80%',
       height: '80%'
      }
    });
    let videoUrl = window.location.pathname.replace("/room/", "")
    callFrame.join({ url: 'https://ablwr.daily.co/' + videoUrl })
  </script>
  <script type="text/javascript">
  async function collection() {
    let netStats = await callFrame.getNetworkStats();
    // Sessions can be more granular, but session IDs are not exposed
    // in the Daily js API. Because of this, the room name is used
    // instead. This does mean that the collected data will be tied
    // to rooms instead of sessions, and that can change the expected
    // output of the graphs.
    // Keep an eye out for future API endpoints that can correct this.
    let session_id = window.location.pathname.replace("/room/", "");
    // NOTE: user's "session id" is in fact their user id!
    let user_id = callFrame.participants().local.session_id;

    const data = { "session_id": session_id, 
                   "user_id": user_id, 
                   "logs": JSON.stringify(netStats.stats.latest) 
                 };

    fetch("/log-data", {
      method: "POST",
      body: JSON.stringify(data),
      headers: { "Content-Type": "application/json" }
    })
    .then(res => res.json())
    .then(response => {
      // do nothing, it's fine
    })
  }

  window.setInterval(function() {
    console.log("collecting some network stats")
    collection();
  }, 15000); // 15000 milliseconds or 15 seconds
  </script>
</body>
</html>